.test{
    height: 170px;
    border: 2px solid rgba(155, 137, 137, 0.644);
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgb(196, 174, 174);
    border-radius: 0 0 30px 30px;
    background-image: url(../../../public/banner-2.jpg), linear-gradient(to bottom, 
    rgba(255, 255, 255, 0.2), 
    rgba(255, 255, 255, 0.55), 
    rgba(255, 255, 255, 0.7));
    background-size: 1500px;
    background-blend-mode: lighten; 
}


.test-h{
    color: #841719;
    text-shadow: 2px 2px 5px #00b67f;
    margin-top: 0px;
    margin-bottom: 15px;
}

.recipe-img img{
    width: 414px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: -1;
}

.recipe-img{
    overflow: hidden;
    height: 392px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 1px 3px 2px lightgray;
    padding-top: 20px;
}

.recipe-description{
    height: 373px;
    position: relative;
    overflow-y: scroll;
    margin-left: 5px;
    margin-right: 20px;
    border-radius: 10px 0 0 10px;
    box-shadow: 1px 3px 2px lightgray;
    padding: 20px;
}

